<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.mini.membership.user.mapper.UserMapper">
    <!-- USER_TBL -->
    <resultMap type="com.mini.membership.user.dto.User" id="userResultMap">
	    <id property="userId" column="USER_ID"/>
	    <result property="name" column="NAME"/>
	    <result property="photo" column="PHOTO"/>
	    <result property="email" column="EMAIL"/>
	    <result property="password" column="PASSWORD"/>
	</resultMap>
    
    <!-- CAR_TBL -->
    <resultMap type="com.mini.membership.user.dto.Car" id="carResultMap">
	    <id property="carId" column="CAR_ID"/>
	    <result property="userId" column="USER_ID"/>
	    <result property="model" column="MODEL"/>
	    <result property="carNumber" column="CAR_NUMBER"/>
	    <result property="carName" column="CAR_NAME"/>
	    <result property="releaseDate" column="RELEASE_DATE"/>
	</resultMap>
    
    <!-- CARD_TBL -->
    <resultMap type="com.mini.membership.user.dto.Card" id="cardResultMap">
	    <id property="cardId" column="CARD_ID"/>
	    <result property="userId" column="USER_ID"/>
	    <result property="cardType" column="CARD_TYPE"/>
	    <result property="cardName" column="CARD_NAME"/>
	    <result property="cardNumber" column="CARD_NUMBER"/>
	    <result property="applicationDate" column="APPLICATION_DATE"/>
	    <result property="status" column="STATUS"/>
	</resultMap>
	
	<!-- POINT_TBL -->
	<resultMap type="com.mini.membership.user.dto.Point" id="pointResultMap">
	    <id property="pointId" column="point_id" />
	    <result property="userId" column="user_id" />
	    <result property="type" column="type" />
	    <result property="amount" column="amount" />
	    <result property="processedAt" column="processed_at" />
	</resultMap>
	
	<!-- EMAIL_AUTH_TBL -->
	<!-- <resultMap type="com.mini.membership.user.dto.EmailAuth" id="emailAuthResultMap">
	    <id property="authId" column="AUTH_ID"/>
	    <result property="email" column="EMAIL"/>
	    <result property="authCode" column="AUTH_CODE"/>
	    <result property="isVerified" column="IS_VERIFIED"/>
	    <result property="expireTime" column="EXPIRE_TIME"/>
	    <result property="createdAt" column="CREATED_AT"/>
	</resultMap> -->
    
    <!-- SQL 코드 -->
    <!-- 회원 정보 -->
    <!-- 이메일/비밀번호를 이용해 특정 회원 정보 반환 -->
   	<select id="selectTargetUser" parameterType="com.mini.membership.user.dto.SignIn" resultMap="userResultMap">
   		SELECT * FROM USER_TBL WHERE email = #{email} and password = #{password}
   	</select>
    
    <!-- 회원가입 -->
    <insert id="signUp" parameterType="com.mini.membership.user.dto.User">
	    INSERT INTO USER_TBL (user_id, name, email, password)
	    VALUES (user_seq.NEXTVAL, #{name}, #{email}, #{password})
	</insert>
    
    <!-- 회원 정보 업데이트 -->
	<update id="updateUser" parameterType="com.mini.membership.user.dto.User">
	    UPDATE USER_TBL
	    SET name = #{name},
	        photo = #{photo},
	        email = #{email},
	        password = #{password}
	    WHERE user_id = #{userId}
	</update>
	
	<!-- 차 정보 -->
	<!-- 특정 회원이 가지고 있는 모든 차 반환 -->
   	<select id="getCars" parameterType="int" resultMap="carResultMap">
	    select * from CAR_TBL where user_id = #{userId}
	</select>
	
	<!-- 카드 정보 -->
	<!-- 특정 회원이 가지고 있는 모든 카드 반환 -->
	<select id="getCards" parameterType="int" resultMap="cardResultMap">
	    SELECT * FROM CARD_TBL 
	    WHERE user_id = #{userId}
	    ORDER BY application_date DESC
	</select>
	
	
	<!-- 포인트 정보 -->
	<!-- 특정 회원이 가지고 있는 모든 포인트 조회 -->
   	<select id="getPoints" parameterType="int" resultMap="pointResultMap">
	    SELECT * FROM POINT_TBL 
	    WHERE user_id = #{userId}
	</select>
	
	
	
</mapper>